/*general*/
body {
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-size:16px;
  background-color: #f3f3f3;
}

p {
  line-height: 1.75; 
  font-size: 1.25rem;
  padding: 1rem;
}

a {
  color: #333;
  letter-spacing: 2px;
  font-weight: 400;
 }
a.active, a:active, a:focus, a:hover {
  color: #fff;
}

a.btn{
  color: #fff;
  border: 3px solid #fff;
  border-radius: 0;
  font-size:16px;
  line-height: 16px;
  font-weight: 700;
  text-transform: capitalize;
  padding:.75em 1em;
}
a.btn:hover{
  background-color:#fff;
  color: #008bb5;

}
a.btn.dark{
  color: #008bb5;
  border: 3px solid #008bb5;
}
a.btn.dark:hover{
  color: #fff;
  background-color: #008bb5;
}

h1 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color:#333;
  margin-bottom:1.5em ;
}
h1 span{
  color:#fff;
  left: -600px;
  white-space: nowrap;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.section{
  padding: 3em 0;
}

/*navigation*/
.navbar{
  padding: 1em 1em;
  color: #333;
  transition: background-color 400ms;
  transition: padding 400ms;
}
.navbar span{
  color: #fff;
  transition: color 400ms;
}
#mainNav .navbar-brand {
  color: #333;
  font-size:20px;
  line-height: 20px;
  padding: .5em .5em;
  text-transform: uppercase;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.nav-on-scroll{
  background-color: #fff;
  box-shadow: 1px 0 5px 0 #333;
  padding: .5em 1em;
}
.nav-on-scroll span, .nav-on-scroll a:hover{
  color: #008bb5;
}


/*marquee*/
.marquee h3 {
  color: #fff;
  text-transform: capitalize;
}
.marquee {
  background-image: linear-gradient(to bottom right, rgb(82, 215, 255, 0.9), rgb(3, 62, 139, 0.9)),url("../img/marquee-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 800px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5em 0;
}
.marquee .container{
  display: table;
  height: 100%;
}
.marquee .container .text-center{
  display: table-cell;
  vertical-align: middle;
}


/*about*/

#about img {
  width: 100%;
  height: auto;
}
.about-description {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom:2em ;
  text-align: center;
}
.about .rounded-circle{
  max-width:200px;
  height:auto;
  margin-bottom: 2rem;
}

.about .btn.dark:hover{
  background-image: linear-gradient(to bottom right, rgb(82, 215, 255, 0.9), rgb(3, 62, 139, 0.9));
}



/*portfolio*/
#portfolio{
  background-color: #f3f3f3;
}
.portfolio h2{
  margin-bottom:3rem;
}
.portfolio .portfolio-subhead-container{
  margin-top: 1rem;
}
.portfolio .portfolio-subhead{
  text-align: center;
}
.portfolio  .portfolio-item {
  background-position: center; 
  background-size: cover;
  width: 100%;
  /* height: 250px; */
  margin-bottom: 2em;
  margin-top: 2em;

}
h3.most-recent{
  display: block;
  justify-content: center;
}
h3.most-recent span{
  display: block;
  align-items: center;
}
.most-recent.portfolio-item {
  width: 100%;
  height: auto;
  margin-top: 0em;
}
.portfolio .most-recent.image{
  width: 100%;
  height: auto;
}

.portfolio .image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 6px;
  background-position: top; 
  background-size: cover;
}



.portfolio .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  height:100%;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(to bottom right, rgb(82, 215, 255, 0.9), rgb(3, 62, 139, 0.9));
  box-shadow: 0px 3px 6px;
}
.portfolio .overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
  cursor: pointer;
} 

.portfolio-item:hover .overlay {
  opacity: 1;
} 
.portfolio-item:hover .overlay-text {
  opacity: 1;
} 
.portfolio .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.portfolio .modal-body p{
  margin-top:2em;
  margin-bottom:1em;
} 






/*skills*/

.skills {
  display: flex;
}
.skills h4{
  display: flex;
  justify-content: center;
}

.skill-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-list div{
  display: inline-flex;
  padding: .5rem 1rem;
}

.skills .button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .words{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.about {
  display: flex;
}
.about h3{
  display: flex;
  justify-content: center;
}


/*contact*/
.contact{
  background-image: linear-gradient(to bottom right, rgb(82, 215, 255, 0.9), rgb(3, 62, 139, 0.9));
  padding: 5em 0;
  color:#fff;
}
.contact path{
  padding: 2em;
}
.contact .social-buttons{
  margin: 2em 2em 1em;
}
.contact .fa{
  padding-top:1.5rem;
  font-size: 2em;
  color:#333;
}
.contact .fa:hover{
  color:#fff;
}


@media (max-width:991px){
  .skills h4{
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  .about .btn.dark{
    margin-bottom:1em;
  }
}

@media (min-width:767px){
  .portfolio .design{
    margin-top:0em;
  }
  .portfolio .portfolio-subhead-container{
    Display:flex
  }
  .portfolio .portfolio-subhead{
    margin:auto;
  }
}
@media (min-width:474px){
  h3.most-recent{
    display:flex;
    justify-content: center;
  }
  h3.most-recent span{
    display: inline-flex;
  }
}